name: Publish a dockerfile to ghcr.

on:
  # Commenting out the push since I want to test it using 
  # workflow_dispatch first.
  # push:
    # branches: [ "main", "staging", "production" ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - id: vars
        run: echo "SHA_SHORT=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository }}/hello-world:sha-${{ steps.vars.outputs.SHA_SHORT }}
            ghcr.io/${{ github.repository }}/hello-world:latest